{% extends "base.html" %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">            
            <h2 class="post-title p-name" itemprop="name headline">
                {{ page.title }}
            </h2>
            <p class="post-meta">
            {% if page.date %}
                <time class="dt-published" datetime="{{ page.date }}" itemprop="datePublished" >{{ page.date | date(format="%b %-d, %Y") }}</time>
            {% endif %}            
            {% if page.extra.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ page.extra.author }}</span>
              </span>{% elif config.extra.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ config.extra.author }}</span>
              </span>{% endif %}
            {% if page.taxonomies.categories %}
                   •
                    {% for category in page.taxonomies.categories %}
                    <span class="category">
                        <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a>
                    </span>
                    {% endfor %} 
            {% endif %}
            </p>
    {% if page.toc %}
<div class="post-toc" id="post-toc">
<details>
    <summary>Table of Contents</summary>
        <nav id="TableOfContents">
            <ul>
                {% for h1 in page.toc %}
                <li>
                    <a href="{{h1.permalink | safe}}" class="toc-link">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        <li>
                            <a href="{{h2.permalink | safe}}" class="toc-link">{{ h2.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </details>
</div>
{% endif %}
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_before_footer %}
     {% if page.extra.2021_commentary %}
     <div class="post-content hindsight">
        <p><strong>With hindsight</strong> (May 2021):</p>
        <p>{{ page.extra.2021_commentary | safe }}</p>
     </div>
     {% endif %}
    {% endblock page_before_footer %}
    
        {% block page_footer %}
        <footer>
            <div class="post-tags">
            {% if page.taxonomies.tags %}
                <p class="post-meta firstline-svg">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z"/></svg>
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
                    {% endfor %} 
                    </p>
            {% endif %}
            </div>
             
            {% if page.updated %}
                    <p class="post-meta firstline-svg">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"/></svg>
                        Last updated: {{ page.updated | date(format="%b %-d, %Y") }}{% if page.extra.update_note %}: {{page.extra.update_note }}{% endif %}
                    <p>
            {% endif %}
                <div class="post-share">
                    <p class="post-meta firstline-svg">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M561.938 158.06L417.94 14.092C387.926-15.922 336 5.097 336 48.032v57.198c-42.45 1.88-84.03 6.55-120.76 17.99-35.17 10.95-63.07 27.58-82.91 49.42C108.22 199.2 96 232.6 96 271.94c0 61.697 33.178 112.455 84.87 144.76 37.546 23.508 85.248-12.651 71.02-55.74-15.515-47.119-17.156-70.923 84.11-78.76V336c0 42.993 51.968 63.913 81.94 33.94l143.998-144c18.75-18.74 18.75-49.14 0-67.88zM384 336V232.16C255.309 234.082 166.492 255.35 206.31 376 176.79 357.55 144 324.08 144 271.94c0-109.334 129.14-118.947 240-119.85V48l144 144-144 144zm24.74 84.493a82.658 82.658 0 0 0 20.974-9.303c7.976-4.952 18.286.826 18.286 10.214V464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h132c6.627 0 12 5.373 12 12v4.486c0 4.917-2.987 9.369-7.569 11.152-13.702 5.331-26.396 11.537-38.05 18.585a12.138 12.138 0 0 1-6.28 1.777H54a6 6 0 0 0-6 6v340a6 6 0 0 0 6 6h340a6 6 0 0 0 6-6v-25.966c0-5.37 3.579-10.059 8.74-11.541z"/></svg> 
                        Share this post on <a title="Share on twitter" href="https://twitter.com/share?url={{ page.permalink | safe }}&text={{ page.title | urlencode }}&via={% if config.extra.social.links.twitter_username %}{{ config.extra.social.links.twitter_username }}{% endif %}">Twitter</a>, <a href="https://reddit.com/submit?url={{ page.permalink | safe }}&title={{ page.title | urlencode }}">Reddit</a>, <a href="https://news.ycombinator.com/submitlink?u={{ page.permalink }}&t={{ page.title | urlencode }}">Hacker News</a>, <a href="https://www.linkedin.com/shareArticle?url={{ page.permalink | safe }}&title={{ page.title | urlencode }}{% if page.summary %}&summary={{ page.summary | striptags | urlencode }}{% endif %}&source={{ page.permalink | safe }}">LinkedIn</a> or via <a href="mailto:?subject=Go%20read%20{{ page.title | urlencode }}&body={{ page.permalink  | safe }}">Email.</a><p>
                </div>
            {% if config.extra.edit_post %}
                {{ macros_edit_page::edit_post(current_path=current_path) }}
            {% endif %}
            {% if page.extra.edit_post %}
                {{ macros_edit_page::edit_post(current_path=current_path) }}
            {% endif %}
            {% if page.extra.edit_post_with_images %}
                {{ macros_edit_page::edit_post_with_images(current_path=current_path) }}
            {% endif %}
            {% if page.earlier or page.later or page.lighter or page.heavier %}
                <div class="post-nav">
                    {% if page.earlier %}
                        <a class="previous" href="{{ page.earlier.permalink }}">‹ {{ page.earlier.title }}</a>
                    {% endif %}
                    {% if page.later %}
                        <a class="next" href="{{ page.later.permalink }}">{{ page.later.title }} ›</a>
                    {% endif %}
                    {% if page.lighter %}
                        <a class="previous" href="{{ page.lighter.permalink }}">‹ {{ page.lighter.title }}</a>
                    {% endif %}
                    {% if page.heavier %}
                        <a class="next" href="{{ page.heavier.permalink }}">{{ page.heavier.title }} ›</a>
                    {% endif %}
                </div>
            {% endif %}
            </footer>
        {% endblock page_footer %}

    
    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>

{% endblock content %}

