{% extends "base.html" %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}


 <article class="post">
     <header class="post-header">
            <h2 class="post-title">
                {{ page.title }}
            </h2>
   
        {% if page.toc %}
            <div class="post-toc" id="post-toc">
            <details>
                <summary>Table of Contents</summary>
                    <nav id="TableOfContents">
                        <ul>
                            {% for h1 in page.toc %}
                            <li>
                                <a href="{{h1.permalink | safe }}" class="toc-link">{{ h1.title }}</a>
                                {% if h1.children %}
                                <ul>
                                    {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{h2.permalink | safe }}" class="toc-link">{{ h2.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </details>
            </div>
            {% endif %}
    </header>
    <div class="post-content">
      {{ page.content | safe }}
    </div>

    <footer>
            {% if page.updated %}
                <p class="post-meta">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z"/></svg>
                        Last updated: {{ page.updated | date(format="%b %-d, %Y") }}{% if page.extra.update_note %}: {{page.extra.update_note }}{% endif %}
                </p>
            {% endif %}
            {% if config.extra.edit_page %}
                    {{ macros_edit_page::edit_page(current_path=current_path) }}
            {% endif %}
    </footer>
  </article>
{% endblock content %}

